<table>
    {{#each data}}
    <tr>
        <td class="id-table">
            id: {{id}}
        </td>
        <td>
            login: {{login}}
        </td>
        <td>
            password :{{password}}
        </td>
        <td>
            age: {{age}}
        </td>
        <td>
            student :
            {{#if study}}
            <input type="checkbox" checked="true" disabled>

            {{else}}
            <input type="checkbox" disabled>

            {{/if}}
        </td>
        <td>
            gender : {{gender}}
        </td>
    </tr>

    {{/each}}
</table>